* {
  margin: 0;
  padding: 0;
}

.relative {
  position: relative;
}

/* Table Header */
.react-table-header {
  background-color: #555;
  color: #fff;
}

/* Table Body */
.react-table-body {
  background-color: #f3f3f3;
}

/* Table Body Row */
.react-table-row {
  background-color: #f9f9f9;
  border: 1px solid gray;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.react-table-row:hover {
  background-color: #fafafa;
}

/* Table Body Columns */
.react-table-colum:hover {
  background-color: #fff;
}

/* Table Footer */
.react-table-footer {
  background-color: #f3f3f3;
}

/* Table Footer Pagination */
.react-table-page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
  border-color: color-2;
  transition: all 0.2s ease-in-out;
}

.page-item-active {
  cursor: pointer;
}

.page-item-active:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.page-item-disabled {
  opacity: 0.5;
}


/* Scrollbar */
.react-table-scrollbar {
  overflow: overlay;
}

.react-table-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.react-table-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.react-table-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
}

.react-table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


/* Value Align */
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

